[submodule ".vim/pack/plugins/start/rust"]
	path = .vim/pack/plugins/opt/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".zfunctions/pure"]
	path = .zfunctions/pure
	url = https://github.com/sindresorhus/pure.git
[submodule ".vim/pack/plugins/opt/vim-styled-components"]
	path = .vim/pack/plugins/opt/vim-styled-components
	url = https://github.com/styled-components/vim-styled-components.git
[submodule ".vim/pack/plugins/opt/vim-javascript"]
	path = .vim/pack/plugins/opt/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/plugins/opt/vim-jsx"]
	path = .vim/pack/plugins/opt/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
