[submodule ".zfunctions/pure"]
	path = .zfunctions/pure
	url = https://github.com/sindresorhus/pure.git
[submodule ".vim/pack/plugins/opt/vim-prettier"]
	path = .vim/pack/plugins/opt/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule ".vim/pack/plugins/start/vim-polyglot"]
	path = .vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/pack/plugins/opt/coc.nvim"]
	path = .vim/pack/plugins/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
