[submodule ".zfunctions/pure"]
	path = .zfunctions/pure
	url = https://github.com/sindresorhus/pure.git
[submodule ".vim/pack/plugins/opt/vim-prettier"]
	path = .vim/pack/plugins/opt/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule ".vim/pack/plugins/start/vim-polyglot"]
	path = .vim/pack/plugins/opt/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/pack/plugins/opt/vim-lsp"]
	path = .vim/pack/plugins/opt/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule ".vim/pack/plugins/opt/vim-jsx-pretty"]
	path = .vim/pack/plugins/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule ".vim/pack/plugins/opt/rust.vim"]
	path = .vim/pack/plugins/opt/rust.vim
	url = https://github.com/rust-lang/rust.vim
